#contact-form {
    border: solid;
    border-radius: 3px;
    border-color: #32126A;
    padding: 10px;
    background-color: #DCD6F7;
    margin: 0 auto;
    width: auto;
    display: block
}

input, textarea {
    width: 100%;
}