#signupCard {
    border: solid;
    border-radius: 3px;
    border-color: navy;
    padding: 10px;
    background-color: rgba(150, 142, 142, 0.5);
}

#infoCard {
    border: solid;
    border-radius: 3px;
    border-color: navy;
    padding: 10px;
    background-color: rgba(150, 142, 142, 0.5);
}