footer {
    
    text-align: center;
    position: relative;
    bottom: 0;
    background-color: #3a3c40;
    width: 100%;
    height: auto;
    color: white;
        
  }
  
  p {
 font-size: small;
 
  }
